<div class="container">
    <h1 class="mt-3">Registration List</h1>

    <div class="d-flex justify-content-end mt-3">
        <a [routerLink]="['/add-registration']" class="btn btn-primary">Add Registration</a>    
    </div>

    <ng-container *ngIf="registrations$ | async as registrations">
            <table class="table table-bordered mt-3">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Event Id</th>
                        <th>User Id</th>
                        <th>Date</th>
                        <th>Amout of Tickets</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let registration of registrations">
                        <td>{{registration.id}}</td>
                        <td>{{registration.eventId}}</td>
                        <td>{{registration.userId}}</td>
                        <td>{{registration.date | date:'short'}}</td>
                        <td>{{registration.ticketsAmount}}</td>
                        <td>
                            <a class="btn btn-warning" [routerLink]="['/edit-registration', registration.id]">Edit</a>
                            <button type="button" class="btn btn-danger ms-3" (click)="onDelete(registration.id)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </ng-container>
</div>